option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: public
  aws:elb:healthcheck:
    HealthyThreshold: '3'
    Interval: '30'
    Timeout: '5'
    UnhealthyThreshold: '5'