commands:
  01_download_maven:
    command: |
      if [ ! -d /opt/maven ]; then
        wget https://archive.apache.org/dist/maven/maven-3/3.9.11/binaries/apache-maven-3.9.11-bin.tar.gz -P /tmp
        tar -xzf /tmp/apache-maven-3.9.11-bin.tar.gz -C /opt
        ln -sfn /opt/apache-maven-3.9.11 /opt/maven
      fi
    test: "[ ! -d /opt/maven ]"

option_settings:
  aws:elasticbeanstalk:container:java:
    JavaVersion: 17
    Xms: 256m
    Xmx: 512m